---
import getMessage from "@i18n/translation";
import {
	getLangFromUrl,
	useTranslations,
	useTranslatedPath,
} from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---
<>
<div class="container mx-auto px-4 w-full">
	<h1>Security and licences</h1>

	<div>Place for security officer. </div>
    <div>Filter and create report based on criteria.</div>
    <div>Alerting rules. Whitelisting. Global.</div>

	<div>Triage vulnerability</div>
            <div>Lookup vuln database.</div>
            <div>Rank severity and exploitability.</div>
            <div>Remediate and mitigate vulnerabilities</div>
            <div>PURL-based.</div>
            <div>VEX: vulnerability exploitatilibty. Does it apply to me. Impact on me?</div>

			<div>Manage compliance</div>
            <div>Aggragate SBOMs</div>
            <div>Export VEX and SBOMs</div>
            <div>PURL-based</div>
            <div>Dependency update and remediation.</div>
</div>
</>