:root {
	--bs-body-bg: #1c1b22;
	--bs-body-color: #fff;
	--bs-headings-color: #aee6ec;
}

.container-bg-color {
	background-color: #26272b;
}

.d-flex-center-col {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card-bg {
	background-color: #303136;
}

.fill-customSecondary {
	fill: var(--bs-headings-color);
	height: 20px;
	margin-right: 1em;
	max-width: 20px;
	width: 20px;
}

.tile {
	background-color: #303136;
	border-radius: 1.5rem;
	padding: 2rem;
	margin-top: 1em;
}

.tile-container {
	background-color: #303136;border-radius: 1.5rem;margin-right: 1em;
}

.tile-content {
	/*padding: 2em;*/
	padding-top: 0.5em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	/*padding-top: 1em;
	padding-right: 2em;
	padding-bottom: 1em;
	*/
	border-bottom-right-radius: 1.5rem;border-bottom-left-radius: 1.5rem;
}


.tile-desc {
	color: rgb(107 114 128 / var(--tw-text-opacity));
	line-height: 2;
	text-align: left;
}


.tile-title {
	padding: 2em;
	border-top-left-radius: 1.5rem;border-top-right-radius: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.tile-americano-title {
	background: linear-gradient(40deg, rgb(5, 150, 105) 30%, rgb(4, 120, 87));
}
